.button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    width: 216px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-family: inherit;
    display: inline-block;
    @include background-transition;

      &-footer {
        width: 200px;
        height: 50px;
        fill: var(--primary-white-color);
        padding: 10px 28px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 52px;
        margin-left: 12px;
      }

      &-modal {
        padding: 10px 52px;
        display: block;
        margin: 30px auto 0 auto;
      }

      &-modal:hover,
      &:hover,
      &-footer:hover,
      &-footer:focus {
        background-color: var(--active-button-color);
      }
  }



      


  




