.logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
    @include common-position
  }
  .header__logo--position {
    margin-right: 93px;
  }
  
  .header__logo--color {
    color: var(--primary-black-color);
  }
  .footer__logo {
    margin-bottom: 20px;
  }
  .footer__logo--colored {
    color: var(--primary-white-color);
  }
