:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --background-color-dark: #2f303a;
    --background-color-light: #f5f4fa;
    --active-button-color: #188ce8;
    --border-color-portf: #eeeeee;
    --headre-border-color: #ececec;
    --nav-address-color: rgba(255, 255, 255, 0.6);
    --icon-color: #afb1b8;
    --backdrop-color: #0000001a;
    --primary-black-color: #000000;
    --footer-sm-bckground: rgba(255, 255, 255, 0.1);
  }
  