body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  p,
  ul,
  h1,
  h2,
  h3 {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    line-height: 0;
  }

  img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  button {
    border: 0;
  }

  @mixin common-position {
    display: inline-block;
    align-items: center;   
  }

  @mixin common-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;  
  }

  @mixin icons-positioning {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @mixin background-transition {
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  @mixin fill-transition {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @mixin border-transition {
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }